<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/layui.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}" type="text/css">
    <title></title>
</head>
<body class="layui-view-body">
    <div class="layui-content">
        <div class="layui-row layui-col-space20">
            <div class="layui-col-sm6 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-body chart-card">
                        <div class="chart-header">
                            <div class="metawrap">
                                <div class="meta">
                                    <span>已使用</span>
                                </div>
                                <div class="total">126,560</div>
                            </div>
                        </div>
                        <div class="chart-body">
                            <div class="contentwrap">
                                实例
                            </div>
                        </div>
                        <div class="chart-footer">
                            <div class="field">
                                <span>剩余</span>
                                <span>321</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-body chart-card">
                        <div class="chart-header">
                            <div class="metawrap">
                                <div class="meta">
                                    <span>已使用</span>
                                </div>
                                <div class="total">126,560</div>
                            </div>
                        </div>
                        <div class="chart-body">
                            <div class="contentwrap">
                                VCPU
                            </div>
                        </div>
                        <div class="chart-footer">
                            <div class="field">
                                <span>剩余</span>
                                <span>321</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-body chart-card">
                        <div class="chart-header">
                            <div class="metawrap">
                                <div class="meta">
                                    <span>已使用</span>
                                </div>
                                <div class="total">126,560</div>
                            </div>
                        </div>
                        <div class="chart-body">
                            <div class="contentwrap">
                                内存
                            </div>
                        </div>
                        <div class="chart-footer">
                            <div class="field">
                                <span>剩余</span>
                                <span>321</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-body chart-card">
                        <div class="chart-header">
                            <div class="metawrap">
                                <div class="meta">
                                    <span>已使用</span>
                                </div>
                                <div class="total">126,560</div>
                            </div>
                        </div>
                        <div class="chart-body">
                            <div class="contentwrap">
                                浮动IP
                            </div>
                        </div>
                        <div class="chart-footer">
                            <div class="field">
                                <span>剩余</span>
                                <span>321</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm12 layui-col-md12">
                <div class="layui-card">
                    <div class="layui-tab layui-tab-brief">
                        <ul class="layui-tab-title">
                            <li>实例名称</li>
                            <li>VCPU数量</li>
                            <li>磁盘</li>
                            <li>内存</li>
                            <li>创建以来的时间</li>
                        </ul>
                        <ul class="layui-tab-title">
                            <li>01</li>
                            <li>1</li>
                            <li>1GB</li>
                            <li>512MB</li>
                            <li>10月,2周</li>
                        </ul>
                        <ul class="layui-tab-title">
                            <li>02</li>
                            <li>1</li>
                            <li>2GB</li>
                            <li>1GB</li>
                            <li>9月,3周</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>